* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  display: flex;
  justify-content: center;
}

.properties {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.txt {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  padding-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  box-shadow: 12px 18px 22px -1px rgba(16, 26, 33, 0.19);
  -webkit-box-shadow: 12px 18px 22px -1px rgba(16, 26, 33, 0.19);
  -moz-box-shadow: 12px 18px 22px -1px rgba(16, 26, 33, 0.19);
}

#issMap {
  display: flex;
  flex-wrap: wrap;

  height: 600px;
  width: auto;
}

.images {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(167, 156, 156, 0.8);
  z-index: 9999;
  overflow-y: scroll;
  flex-direction: column;
  
}

.images img {
  display: block;
  margin: 0 auto;
  padding: 7px;
  max-width: 90%;
  max-height: 90%;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnfont {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.issemblem {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.issemblem img {
  width: 400px;
  height: auto;
}